.register {
  margin-top: 10%;
  margin-left: 40%;
}
.register__username {
  width: 20rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
}
.register__name {
  width: 20rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
}
.register__password {
  width: 20rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
}
.register__form {
  display: flex;
  flex-direction: column;
}
.register__submit {
  width: 21rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
  background: var(--bg-primary);
  color: var(--text-primary);
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}
